<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, inital-scale=1.0">

  <title>{% if sketch %}{{ sketch }} - {% endif %}Sketchbook</title>

  <link rel="stylesheet" href="/assets/sketchbook.css" />
  {% block scripts %}{% endblock %}
</head>
<body class="{% block bodyClass %}{% endblock %}">
  {% block content %}{% endblock %}
</body>
</html>
