{% extends "./base.njk" %}

{% block content %}
<h1>Sketchbook</h1>
<ul>
  {% for sketch in sketches %}
  <li>
    <h2><a href="/{{ sketch.name }}/">{{ sketch.name }}</a></h2>
    <p><b>Created:</b> {{ sketch.created.toLocaleString() }}</p>
    <p><b>Updated:</b> {{ sketch.modified.toLocaleString() }}</p>
  </li>
  {% endfor %}
</ul>
{% endblock %}
