{% extends "./base.njk" %}

{% block scripts %}
<script type="text/javascript" src="/assets/p5.js"></script>
<script type="text/javascript" src="/{{ sketch }}.js"></script>
{% endblock %}

{% block bodyClass %}sketch{% endblock %}
{% block content %}
  <a id="back-link" href="/">Back to Sketches</a>
{% endblock %}
