@font-face {
  font-family: Source Sans;
  src:
    url("./fonts/source-sans-variable.woff2") format("woff2 supports variations"),
    url("./fonts/source-sans-variable.woff2") format("woff2-variations");
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: Source Sans;
  src:
    url("./fonts/source-sans-variable-italic.woff2") format("woff2 supports variations"),
    url("./fonts/source-sans-variable-italic.woff2") format("woff2-variations");
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: Source Code;
  src:
    url("./fonts/source-code-variable.woff2") format("woff2 supports variations"),
    url("./fonts/source-code-variable.woff2") format("woff2-variations");
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: Source Code;
  src:
    url("./fonts/source-code-variable-italic.woff2") format("woff2 supports variations"),
    url("./fonts/source-code-variable-italic.woff2") format("woff2-variations");
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
}

*, *::after, *::before {
  box-sizing: border-box;
}

body,
h1, h2, h3, h4, h5, h6,
ol:not([class]),
p,
ul:not([class]) {
  margin: 0;
}

html {
  font-family: "Source Sans", sans-serif;
  color: #333;
}

body {
  min-height: 100vh;
}

h1 {
  font-weight: 300;
}

.sketch {
  align-items: center;
  display: flex;
  justify-content: center;
}

#back-link {
  position: absolute;
  top: 0.5em;
  left: 0.5em;
}
